# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:



1.   Python
2.   R

Some of the commonly used libraries used by Data Scientists include:



1.   Pandas
2.   Numpy
3.   Scikit-learn

|Data Science Tools|
  |:----------------------:|
  |Matplotlib|
  |Seaborn|
  |Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives**



1.   List data science open source tools
2.   List popular languages for Data Science
3.   Basic math operations
4.   Code cells and markdown cells

## Author

Sukhi Grewal